@import "reset";
@import "media";
@import "grid";
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:wght@300;400;700&display=swap');
@import "logo";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: $bg-color;
    color: $main-text-color;
}

header {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(sm) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.center {
    display: flex;
    @include breakpoint(xs) {
      justify-content: center;
      align-items: center;
    }
}

#nav {
    display: flex;
    align-items: center;
    .menu-btn {
        display: none;
    }
    #menu-btn{
        &:checked {
            ~ ul {
                display: block;
            }
        }
    }
    .menu-icon {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 2rem;
        opacity: 0.7;
        @include breakpoint(sm) {
            display: none;
        }
    }
    ul {
        display: none;
        @include breakpoint(sm) {
            display: flex;
        }
        li {
            margin: 10px;
        }
        a {
            text-decoration: none;
            color: $main-text-color;
            font-weight: 600;
        }
    }
}

.banner {
    width: 100%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $secondary-color;
    border-radius: $border-radius;
    padding: 1em;
    @include breakpoint(sm) {
        flex-direction: row;
        justify-content: space-between;
        padding: 3em;
    }
    .greeting {
        width: 100%;
        text-align: center;
        h1 {
            font-size: 2em;
            line-height: 1.5em;
            font-weight: 700;
            @include breakpoint(md) {
                font-size: 3.5em;
                line-height: 1.5em;
                font-weight: 700;
            }
        }
        h2 {
            font-size: 1.5em;
            line-height: 1.5em;
            font-weight: 300;
            @include breakpoint(md) {
                font-size: 2.75em;
                line-height: 1.5em;
                font-weight: 300;
            }
        }
    }
    .buttons {
        width: 100%;
        margin: 2em 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        a {
            width: 100%;
            line-height: 2em;
            @include btn(1.25em, $main-btn-color, 0.5em 0);
            &:last-child {
                background: $bg-color;
                color: $main-text-color;
                margin-top: 1em;
            }
            @include breakpoint(sm) {
                width: 10em;
                align-self: flex-end;
            }
            @include breakpoint(md) {
                font-size: 2em;
            }
        }
    }
}

.features .container {
    padding: 0;
    @include breakpoint(md) {
        width: calc(100% + 2em); //$strategic-padding in variables used in grid partial to align the container (temporary solution)
    }
}

.features {
    [class*="col-"]{
        @include breakpoint(xs) {
          width: 100%;
          margin-bottom: 2em;
        }
        @include breakpoint(sm) {
          @media  (max-width: 991px) {
            width: 100%;
            max-width: 767px;
            margin: 0 auto;
            margin-bottom: 2em;
          }
        }
        @include breakpoint(md) {
          padding-right: $strategic-padding;
        }
    }
    .box {
        height: 100%;
        background: $secondary-color;
        border-radius: $border-radius;
        img {
            @include img;
        }
        .text {
            padding: 3em 2em;
            h1 {
                font-size: 1.3em;
                font-weight: 700;
                line-height: 1.5em;
            }
            h2 {
                margin: 0.25em 0 2em 0;
            }
            p {
                line-height: 2em;
            }
        }
    }
}

main {
    background: $secondary-color;
    margin: 3em 0;
    .wrapper {
        padding: 5em 0;
        @media (max-width: 1199px) {
            flex-direction: column-reverse;
        }
    }
    [class*="col-"]{
        @media (max-width: 1199px) {
          width: 100%;
        }
    }
    .sidebar {
        @media (max-width: 1199px) {
            width: calc(100% + 1em);
        }
        h3 {
            font-size: 2em;
            font-weight: 700;
            margin-bottom: 1em;
        }
        [class*="col-"]{
            width: 50%;
        }
        .images {
            margin-bottom: 2em;
            > div {
                padding: 0 1em 1em 0;
            }
            img {
                width: 100%;
                height: auto;
                border-radius: $border-radius;
            }
        }
        > a {
            @include btn(1.4em, $main-btn-color, 0.8em 0);
            margin-right: 1rem;
            @include breakpoint(lg) {
                display: inline-block;
                padding: 0.8em 2em;
            }
        }
    }
    .content {
        h2 {
            font-size: 2.3em;
            font-weight: 700;
            margin-bottom: 1em;
        }
        p {
            line-height: 2em;
            margin-bottom: 2em;
        }
        a {
            @include btn(1.4em, $main-btn-color, 0.8em 0);
        }
        @media (max-width: 1199px) {
            padding-bottom: 4em;
            margin-bottom: 4em;
            border-bottom: 1px solid $main-text-color;

        }
        @include breakpoint(lg) {
            margin-left: 2em;
            a {
                display: inline-block;
                padding: 0.8em 2em;
            }
        }
    }
}

footer {
    section {
        padding-bottom: 3em;
        margin-bottom: 3em;
        border-bottom: 1px solid $main-text-color;
        h3 {
            font-size: 1.2em;
            font-weight: 700;
            margin-bottom: 1em;
        }
        a {
            @include footer-links;
        }
    }
    .contact {
        ul {
            display: flex;
            list-style: none;
            margin-bottom: 1em;
            li{
                padding-right: 1rem;
                font-size: 2em;
            }
        }
        p {
            line-height: 1.8em;
        }
    }
    > p {
        margin-bottom: 3em;
    }
    @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
        section {
            border: none;
            width: 50%;
        }
        > p {
            width: 100%;
            text-align: center;
        }
    }
    @include breakpoint(lg) {
        section {
            width: 25%;
        }
    }
}


